<div class="hr-content grid">
	<div class="content row cells12">
		<div class="main_content box_shadow cell colspan8">
			<h3 class="b_c_add">{{'statisticLevel' | translate}}</h3>
			<span class="mif-chart-line chart-icon" title="Biểu đồ đường" ng-click="vm.tkTrinhdo('chartLine')"></span>
			<span class="mif-chart-pie chart-icon" title="Biểu đồ tròn" ng-click="vm.tkTrinhdo('chartPie')"></span>
			<canvas class="chart chart-line" ng-if="chartLine"
			chart-data="data" chart-labels="labels" chart-series="series" chart-legend="true">
			</canvas>
			<canvas class="chart chart-pie" ng-if="chartPie"
			chart-data="data" chart-labels="labels" chart-legend="true">
			</canvas>
		</div>
		<div ng-include="'web/templates/layout/sidebar.html'" class="info_sidebar cell colspan4"></div>
		<div class="clear"></div>
	</div>
</div>