<div class="hr-content">
	<div class="content">
		<div class="main_content box_shadow full_content bang-tinh-luong">
			<div class="tool-bar grid condensed">
				<div class="row cells5">
					<div class="cell">
						<button class="button" ng-click="newPaycheck(monthPaycheck, yearPaycheck)" ng-disabled="isFinishPaycheck == true || paycheckUsers.length > 0">
					    <img src="assets/images/metro/new-paycheck.png">
					    <span class="title">{{'createPayroll' | translate}}</span>
						</button>
					</div>
					<div class="cell">
						<button class="button" ng-disabled="isFinishPaycheck == true || paycheckUsers.length == 0" ng-click="newPaycheck(monthPaycheck, yearPaycheck)">
					    <img src="assets/images/metro/re-paycheck.png">
					    <span class="title">{{'recalculated' | translate}}</span>
						</button>
					</div>
					<div class="cell">
						<button class="button" ng-click="cfmClosePaycheck()" ng-disabled="isFinishPaycheck == true || paycheckUsers.length == 0">
					   	<span class="icon mif-lock"></span>
					    <span class="title">{{'closeout' | translate}}</span>
						</button>
					</div>
					<div class="cell">
						<button class="button" ng-click="exportPaycheck(monthPaycheck, yearPaycheck)" ng-disabled="paycheckUsers.length == 0">
					    <img src="assets/images/metro/xuat-excel.png">
					    <span class="title">{{'exportExcel' | translate}}</span>
						</button>
					</div>
					<div class="cell setup-paycheck">
						<label>{{'noteMonth' | translate}}</label>
						<div class="input-control select month-payroll">
							<select ng-model="monthPaycheck" ng-change="getBackupPaycheck(monthPaycheck, yearPaycheck)">
				        <option ng-repeat="month in arrMonthPaycheck" value="{{month}}">{{month}}</option>
					    </select>
						</div>
						<label class="year">{{'year' | translate}} </label>
						<div class="input-control select year-payroll">
							<select ng-model="yearPaycheck" ng-change="getBackupPaycheck(monthPaycheck, yearPaycheck)">
				        <option ng-repeat="year in arrYearPaycheck" value="{{year}}">{{year}}</option>
					    </select>
						</div>
					</div>
				</div>
			</div>

			<div class="table-content">
				<table class="table border bordered" datatable="ng" dt-options="dtPaycheck">
	        <thead class="head-table">
	        	<tr>
	        		<th rowspan="2">STT</th>
	            <th rowspan="2">{{'labelUsername' | translate}}</th>
	            <th rowspan="2">{{'fullName' | translate}}</th>
	        		<th colspan="2">{{'tabSalary' | translate}}</th>
	        		<th colspan="2">{{'manageOvertimeLateness' | translate}}</th>
	        		<th colspan="3">{{'insurancePaidByEnterprises' | translate}}</th>
	        		<th colspan="3">{{'insurancePaidByEmployees' | translate}}</th>
	        		<th colspan="2">{{'unionDuesSalary' | translate}}</th>
	        		<th colspan="4">{{'otherMonies' | translate}}</th>
	        		<th rowspan="2">{{'totalIncome' | translate}}</th>
	            <th rowspan="2">{{'personalTax' | translate}}</th>
	            <th rowspan="2">{{'totalSalary' | translate}}</th>
	        	</tr>
	          <tr>
	            <th>{{'basicSalary' | translate}}</th>
	            <th>{{'hourly' | translate}}</th>
	            <th>{{'subtractLate' | translate}}</th>
	            <th>{{'moneyOvertime' | translate}}</th>
	            <th>BHXH</th>
	            <th>BHYT</th>
	            <th>BHTN</th>
	            <th>BHXH</th>
	            <th>BHYT</th>
	            <th>BHTN</th>
	            <th>{{'enterprisesPayShort' | translate}}</th>
	            <th>{{'employeesPayShort' | translate}}</th>
	            <th>{{'diems' | translate}}</th>
	            <th>{{'bonus' | translate}}</th>
	            <th>{{'fine' | translate}}</th>
	            <th>{{'allowance' | translate}}</th>
	            <th style="display:none"></th>
	          </tr>
	        </thead>
	        <tbody>
	        	<tr ng-repeat="(key, nhanvien) in paycheckUsers">
	        		<td>{{key+1}}</td>
	        		<td>{{nhanvien.manv}}</td>
	        		<td>{{nhanvien.hoten}}</td>
	        		<td>{{nhanvien.luongcb}}</td>
	        		<td>{{nhanvien.luonggio}}</td>
	        		<td>{{nhanvien.ditre}}</td>
	        		<td>{{nhanvien.tangca}}</td>
	        		<td>{{nhanvien.bhxh_cty}}</td>
	        		<td>{{nhanvien.bhyt_cty}}</td>
	        		<td>{{nhanvien.bhtn_cty}}</td>
	        		<td>{{nhanvien.bhxh_nv}}</td>
	        		<td>{{nhanvien.bhyt_nv}}</td>
	        		<td>{{nhanvien.bhtn_nv}}</td>
	        		<td>{{nhanvien.congdoan_cty}}</td>
	        		<td>{{nhanvien.congdoan_nv}}</td>
	        		<td>{{nhanvien.congtac}}</td>
	        		<td>{{nhanvien.khenthuong}}</td>
	        		<td>{{nhanvien.phat}}</td>
	        		<td>{{nhanvien.phucap}}</td>
	        		<td>{{nhanvien.tongluong}}</td>
	        		<td>{{nhanvien.thuetncn}}</td>
	        		<td>{{nhanvien.thuclanh}}</td>
	        		<td style="display:none">{{nhanvien.hinhanh}}</td>
	        	</tr>
	        </tbody>
	      </table>
			</div>

			<div class="user-paycheck">
				<fieldset class="fieldset-border">
					<legend>{{'personalPaycheck' | translate}}</legend>
					<div class="action">
						<span class="mif-mail" title="Gửi mail" ng-click="sendMail(monthPaycheck, yearPaycheck, selectedUser)"></span>
						<span class="mif-printer" title="In phiếu lương" ng-click="printPDF(monthPaycheck, yearPaycheck, selectedUser)"></span>
					</div>
					<table class="table">
						<tr>
							<td rowspan="3">
								<img class="i_logo add" ng-src="/assets/kcfinder/upload/files/avatars/{{selectedUser['hinhanh'] || 'avatar.png'}}">
							</td>
							<td class="striped"><label>{{'personnel' | translate}}: <strong>{{selectedUser['hoten']}}</strong></label> - <label>{{'labelUsername' | translate}}: <strong>{{selectedUser['manv']}}</strong></label></td>
							<td class="striped"><label>{{'subtractLate' | translate}}: {{selectedUser['ditre']}}</label></td>
							<td class="striped"><label>BHXH: {{selectedUser['bhxh_nv']}}</label> - <label>BHYT: {{selectedUser['bhyt_nv']}}</label> - <label>BHTN: {{selectedUser['bhtn_nv']}}</label></td>
						</tr>
						<tr>
							<td class="striped"><label>{{'basicSalary' | translate}}: {{selectedUser['luongcb']}}</label></td>
							<td class="striped"><label>{{'moneyOvertime' | translate}}: {{selectedUser['tangca']}}</label></td>
							<td class="striped"><label>{{'personnelTaxShort' | translate}}: {{selectedUser['thuetncn']}}</label> - <label>{{'unionDuesSalary' | translate}}: {{selectedUser['congdoan_nv']}}</label></td>
						</tr>
						<tr>
							<td class="striped"><label>{{'hourly' | translate}}: {{selectedUser['luonggio']}}</label></td>
							<td class="striped"><label>{{'totalIncome' | translate}}: {{selectedUser['tongluong']}}</label></td>
							<td class="striped"><label>{{'totalSalary' | translate}}: <strong>{{selectedUser['thuclanh']}}</strong></label></td>
						</tr>
					</table>
				</fieldset>
			</div>
		</div>
	</div>
</div>